<%- include('Layout/head.ejs') %>
    <body>
        <div style="padding: 20% auto; text-align: center;">
            <h1>404</h1>
            <h2>Page Not Found</h3>
            <h2>(;´༎ຶД༎ຶ`)</h3>
            <h2> | |</h3>
            <a href="/"><button>Back To Home</button></a>
        </div>

        <%- include('Layout/foot.ejs')%>