body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

main {
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    text-align: center;
}

.main-header {
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: lightsteelblue;
    padding: 0 10%;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    font-family: "Sofia", sans-serif;
}

.main-header-form {
    display: flex;
    padding: 0 30%;
}

.transcript {
    margin: auto 15%;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

h3 {
    text-align: center;
}

.buttons {
    text-align: center;
}

img {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 40%;
}

footer {
    text-align: center;
    color: grey;
    font-size: small;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

@media (max-width: 768px) {
    .main-header {
        font-size: small;
    }
    .main-header-form {
        display: flex;
        padding-left: 13%;
        width: 15rem;
    }
}

@media (max-width: 1000px) {
    .main-header {
        font-size: x-small;
    }
    .main-header-form {
        width: 15rem;
    }
}